body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50px;
  display: flex;
}

.card {
  color: red;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px;
  width: max-content;
}

.card-item {
  display: flex;
}

.name {
  margin: auto 3px;
}

.photo-container {
  display: flex;
  justify-content: center;
}
.photo-container img {
  height: 200px;
}
